<% title "Page" %>

<p>
  <strong>Parent:</strong>
  <%=h @page.parent_id %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @page.name %>
</p>
<p>
  <strong>Content:</strong>
  <%=h @page.content %>
</p>

<p>
  <%= link_to "Edit", edit_page_path(@page) %> |
  <%= link_to "Destroy", @page, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", pages_path %>
</p>
